<!DOCTYPE html>
<html>
  <head>
    <link rel="canonical" href="http://www.hellovelocity.com/">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <meta property="keywords" content=""> 
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon">

    <title>Cordblue</title>
    <meta name="description" content="Cordblue: One outlet and one USB port for the modern home.">
    <meta property="og:description" content="Cordblue: One outlet and one USB port for the modern home.">

    <meta property="og:title" content="Cordblue">
    <meta property="og:url" content="http://www.hellovelocity.com/bitelabs">
    <meta property="og:image" content="/media/bitelabs/facebook_banner.png">


    <link rel='stylesheet' href='/css/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="banner">
      <div class="banner_text">
        <div class="banner_text_main">Cord blue</div>
        <div class="banner_text_sub">
          One outlet and one USB port for the modern home.
        </div>
      </div>
    </div>

    <div class="kickstarter">
      <div class="kickstarter_text">SUPPORT US ON </div>
      <img src="/media/kickstarter_logo.png" />
      <!--<a href=""><div class="kickstarter_link">visit our campaign</div></a>-->
      <div class="kickstarter_link coming_soon">COMING SOON</div>

    </div>

    <div class="collection">
      <div class="collection_text">The Collection</div>
      <div id="concrete_tabletop" class="item">
        <div class="item_overlay"></div>
        <div class="item_text">
          <div class="description">Table-Top (concrete) </div>
          <div class="price">45 USD</div>
        </div>
      </div><!--
      --><div id="mirror" class="item">
        <div class="item_overlay"></div>
        <div class="item_text">
          <div class="description">Mirror</div>
          <div class="price">85 USD</div>
        </div>
      </div><!--
      --><br><!--
      --><div id="pillar" class="item">
        <div class="item_overlay"></div>
        <div class="item_text">
          <div class="description">Pillar</div>
          <div class="price">120 USD</div>
        </div>
      </div><!--
      --><div id="marble_tabletop" class="item">
        <div class="item_overlay"></div>
        <div class="item_text">
          <div class="description">Table-Top (marble) </div>
          <div class="price">145 USD</div>
        </div>
      </div>
    </div>

    <div class="features">
      <div class="feature feature_one">
        <img src=""> 
        <div class="feature_text">
          <div class="feature_text_heading">One outlet. One USB.</div>
          Each product in the Cordblue collection has one standard US outlet and a standard USB charging port.
        </div>
      </div>
      <div class="feature feature_two">
        <img src="/media/american_sourced.png"> 
        <div class="feature_text">
          <div class="feature_text_heading">Locally Sourced. <br>American Made.</div>
          Each product in the Cordblue collection has one standard US outlet and a standard USB charging port.
        </div>
      </div>
      <div class="feature feature_three">
        <img src="/media/colored_cords.png"> 
        <div class="feature_text">
          <div class="feature_text_heading">Choose between <br>Black, White and Blue</div>
          Each product in the Cordblue collection has one standard US outlet and a standard USB charging port.
        </div>
      </div>
    </div>

    <div class="gallery">
      <img class="gallery_image active" src="/media/gallery_image1.jpg">
      <img class="gallery_image" src="/media/gallery_image2.jpg">
      <img class="gallery_image" src="/media/gallery_image3.jpg">
      <img class="gallery_image" src="/media/gallery_image4.jpg">
      <div class="prev">&larr;</div>
      <div class="next">&rarr;</div>
    </div>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
