<!DOCTYPE html>
<html>
  <head>
    <link rel="canonical" href="http://www.hellovelocity.com/">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <meta property="keywords" content=""> 
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon">

    <title>Cord Blue</title>
    <meta name="description" content="Cord Blue is taking an innovative approach to household cord management: making outlets and extension cords distinct and aesthetic objects for the home.">
    <meta property="og:description" content="Cord Blue is taking an innovative approach to household cord management: making outlets and extension cords distinct and aesthetic objects for the home.">

    <meta property="og:title" content="Cord Blue">
    <meta property="og:url" content="http://www.cordblue.co">
    <meta property="og:image" content="/media/facebook_banner.png">


    <link rel='stylesheet' href='/css/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57531666-4', 'auto');
      ga('send', 'pageview');

    </script>

  </head>
  <body>
    <div class="banner">
      <div class="banner_text">
        <div class="banner_text_main">Cord Blue</div>
        <div class="banner_text_sub">
          One outlet and one USB port for the modern home.
        </div>
      </div>
    </div>

    <div class="kickstarter">

      <iframe width="720" height="430" src="https://www.kickstarter.com/projects/2096653337/cord-blue-charging-for-the-modern-home/widget/video.html" frameborder="0" allowfullscreen></iframe>
      <!--<iframe width="720px" height="420px" src="https://www.youtube.com/embed/2xPNrzusSx4&feature=youtu.be?&rel=0&theme=light&showinfo=0&modestbranding=1&controls=0&color=white" frameborder="0" allowfullscreen></iframe>-->

      <div class="kickstarter_text">SUPPORT US ON </div>
      <img src="/media/kickstarter_logo.png" />
      <a href="https://www.kickstarter.com/projects/2096653337/cord-blue-charging-for-the-modern-home"><div class="kickstarter_link">visit our campaign</div></a>
    </div>

    <div class="collection">
      <div class="collection_text">The Collection</div>
      <div class="collection_text_sub">
        There are only two devices that we plug and unplug on a regular basis: our phones and laptops. Cord Blue makes these two essential charging ports always accessible.
      </div>
      <div id="concrete_tabletop" class="item">
        <div class="item_overlay"></div>
        <div class="item_text">
          <div class="description">Table-Top (concrete) </div>
          <div class="price">40 USD</div>
        </div>
      </div><!--
      --><div id="mirror" class="item">
        <div class="item_overlay"></div>
        <div class="item_text">
          <div class="description">Mirror</div>
          <div class="price">45 USD</div>
        </div>
      </div><!--
      --><br><!--
      --><div id="pillar" class="item">
        <div class="item_overlay"></div>
        <div class="item_text">
          <div class="description">Pillar</div>
          <div class="price">85 USD</div>
        </div>
      </div><!--
      --><div id="marble_tabletop" class="item">
        <div class="item_overlay"></div>
        <div class="item_text">
          <div class="description">Table-Top (marble) </div>
          <div class="price">120 USD</div>
        </div>
      </div>
    </div>

    <div class="features">
      <div class="feature feature_one">
        <img src="/media/one_cord.png"> 
        <div class="feature_text">
          <div class="feature_text_heading">One outlet. One USB.</div>
          Each product in the Cord Blue collection has one standard US outlet and a standard USB charging port.
        </div>
      </div>
      <div class="feature feature_two">
        <img src="/media/american_sourced.png"> 
        <div class="feature_text">
          <div class="feature_text_heading">Locally Sourced. <br>American Made.</div>
          We go to great lengths to find the best material from local sources.
        </div>
      </div>
      <div class="feature feature_three">
        <img src="/media/colored_cords.png"> 
        <div class="feature_text">
          <div class="feature_text_heading">Choose between <br>Black, White and Blue</div>
          Each of our products has three nylon cord color options.
        </div>
      </div>
    </div>

    <div class="gallery">
      <img class="gallery_image active" src="/media/gallery_image1.jpg">
      <img class="gallery_image" src="/media/gallery_image2.jpg">
      <img class="gallery_image" src="/media/gallery_image3.jpg">
      <img class="gallery_image" src="/media/gallery_image4.jpg">
      <div class="prev">&larr;</div>
      <div class="next">&rarr;</div>
    </div>

    <div class="contact">
      <a href="mailto:cordblue.co@gmail.com">Email</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.facebook.com/cordblue.co">Facebook</a>
    </div>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
